h3 FACSS Carpool 请求确认
p 我们已经收到了你的 Carpool 请求，部分信息如下：
== render 'email/_request_all'

p 请点击以下链接对这个 Carpool 请求进行邮箱激活，否则无法匹配到志愿者。
a href=uri_conf 我是链接

p 同时，如果需要修改请求信息，请使用以下链接
a href=uri_alter 我是链接

p 也可以使用 Confirmation Code，
code: pre= @req.conf
