h1 UNC Carpool 系统密码重设
a href=code 点我重设

h3 进一步说明
p 最近因为人为失误导致了数据库密码部分丢失，志愿者丢失了“最大承载乘客数量”的信息。
p 对发生这种事情表示歉意（假如我在公司工作我现在已经被开除了），具体详情请见<a href="unc-carpool-demo-lbq.cloudapps.unc.edu/report">事故 Report</a>
p 如果有任何疑问或者抱怨，建议之类的欢迎加微信 ninesyllables，在此再度向带来的麻烦表示歉意。